
header{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: black;
}
nav{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blud(10px);
}
.outer_body{
    flex: 90;
}

section{
    margin: 50px auto;
    background-color: seashell;
}
/* sub of outer body */
.profile{
    flex: 1; 
    text-align: center;
    padding: 5px;
    padding-top: 100px;
    background-color: #eadaeb;
}
.profile img{
    width: 100px;
    border-radius: 50%;
    border: solid 2px white;
}
.inner_body{
    flex: 4;
    transition:all 2s ease;
    overflow: hidden;
}
/* styling home class and elements  */
.display_box{
    height: 200px;
    width: 150px;
    background-color: azure;
    border: solid thin;
    border-radius: 3%;
    transition:all 2s ease;
    overflow: hidden;
}
.display_top{
    background-color: bisque;
    text-align: center;
    transition:all 2s ease;
}
.display_bottom{
    border-top: solid;
    transition:all 2s ease;
    /*what to do with inside elements*/
    text-align: center;
}
.display_top h1{
    padding-top: 50px;
    transition:all 2s ease;
}


.skills_container{
    display: flex;
    flex-direction: column;
}
.skill_item{
    width: 50%;
    margin: 10px auto;
}
.skill_title{
    display: flex;
    justify-content: space-between;
}
.skill_bar{
    border: solid thin;
    border-radius: 5px;
    height: 15px;
    background-color: rgb(45,45,45,0.3);
}
/* style specific items*/
h1, h2, h3, h4, h5, p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
