body{
    margin: 0;
}
header{
    width: 100%;
    padding: 30px;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    background-color: rgb(45,45,45,0.3);
    backdrop-filter: blur(10px);
}
nav{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration:none;
    color: var(--primary_text_color);
    transition: all 0.5s;
}
/* styling home class and elements  */
#home{
    height: 80vh;
    padding-top: 150px;
}
.descriptions{
    display: flex;
    align-items: center;
    justify-content: right;
    overflow: hidden;

}
.txt_box{
    display: flex;
    flex-direction: column;
}
.image_box{
    max-width: 30%;
    min-width: 330px;
    width: 40%;
    border: solid thin;
    border-radius: 10%;
    overflow: hidden;
    transform: translate(40px);
    display: inline-block;
}
img{
    width: 100%;
    margin: 0;
}
.move_now{
    display: flex;
    gap: 30px;
    padding-left: 13%;
    transform: translateY(-150%);
}
.go{
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(90deg,rgb(146, 9, 238),lightblue);
}
/* styling project class and elements  */
#project{
    background-color: lightgray;
    padding: 50px 70px;
}
.project_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 90px;
}
.project_box{
  width: 30%;
  aspect-ratio: 1;
  transition: all 2s ease;
  background-color: aliceblue;
}
.project_img{
    height: 70%;
    width: 100%;
    border-bottom: solid thin;
    transition: all 2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.project_discr{
    height: 30% ;
    transition: all 2s ease;
}
/* styling skill class and elements  */
.skills_container{
    display: flex;
    flex-direction: column;
}
.skill_item{
    width: 50%;
    margin: 10px auto;
}
.skill_title{
    display: flex;
    justify-content: space-between;
}
.skill_bar{
    border: solid thin;
    border-radius: 5px;
    height: 15px;
    background-color: rgb(45,45,45,0.3);
}
:root{
    --primary_text_color : black;
    --gradient: linear-gradient(90deg,lightblue,rgb(146, 9, 238));
    --gradient2: linear-gradient(90deg,rgb(146, 9, 238),lightblue);
}