.under-construction{
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 20px;
  padding: 10px;
  animation: shake 1.5s infinite;
}
.under-construction h3{
  margin: 0;
  font-size: large;
}
@keyframes shake {
  0% { transform: translateX(-50%) rotate(0deg); }
  25% { transform: translateX(-50%) rotate(.5deg); }
  50% { transform: translateX(-50%) rotate(0deg); }
  75% { transform: translateX(-50%) rotate(-.5deg); }
  100% { transform: translateX(-50%) rotate(0deg); }
  
}
@media (max-width:760px) {
  .under-construction{
    font-size: small;
    width: 90vw;
  }
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.wrapper{
  width: 1000px;
  min-height: 98vh;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.header {
  width: min(80%,800px);
  height: 4em;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: hsla(0, 0%, 99%, 0.527);
  backdrop-filter: blur(500px);
  border-radius: 30px;
  position: fixed;
  z-index: 1000;
}
.header nav{
  width: 50%;
  display: flex;
  justify-content: space-around;
  color: black;
  position: relative;
}
.navigator{
  cursor: pointer;
}
.glass{
  width: 100px;
  height: 3em;
  position: absolute;
  align-self: center;
  border-radius: 5px;
  z-index: -1;
  transition: all .5s ease;
}
.glass[data-page=home]{
  background-color: rgb(123, 164, 214);
  transform: translateX(-155px);
}
.glass[data-page=about]{
  background-color: green;
  transform: translateX(-60%);
}
.glass[data-page=projects]{
  background-color: rgba(86, 64, 209, 0.699);
  transform: translateX(40%);
}
.glass[data-page=contact]{
  background-color: rgb(0, 128, 102);
  transform: translateX(147%);
}
.content{
  width: 100%;
  flex: 1;
  padding-top: 50px;
}
.home{
  display: flex;
  justify-content: space-around;
  padding: 60px 0px;
}
.welcome-section,
.profile-section {
  font-size: 1em;
  width: 30%;
}
.greet{
  display: flex;
}
.greet h1{
  margin: 0;
  text-align: right;
}
.welcome-section h3,a{
  margin: 0;
  text-align: center;
  color: inherit;
  transition: all .5s ease;
}
.welcome-section a:hover{
  letter-spacing: 3px;
  color: inherit;
}
.greet h1:last-of-type{
    font-size: 4rem;
    padding: 10px 0;
    animation: shakeHand 1s ease;
    animation-timeline: View;
    animation-delay: .2s;
}
@keyframes shakeHand {
  25%{
    transform: rotate(9deg);
  }
  75%{
    transform: rotate(-9deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.profile-section img{
    width: 350px;
    aspect-ratio: 1;
}

/* Contact Page */

.socials{
  width: fit-content;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.socials *:hover{
  cursor: pointer;
  transform-origin: 50% 50%;
  transform: scale(1.1);
}

@media (max-width:760px) {
  .wrapper{
    width: 100vw;
    border-radius: 0;
  }
  .header{
    width: 90%;
    height: 3em;
    margin: auto;
    border-radius: 10px;
    position: absolute;
  }
  .content{
    padding: 0;
    border-radius: 0;
  }
}