.under-construction{
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 20px;
  padding: 10px;
  animation: shake 1.5s infinite;
}
.under-construction h3{
  margin: 0;
  font-size: large;
}
@keyframes shake {
  0% { transform: translateX(-50%) rotate(0deg); }
  25% { transform: translateX(-50%) rotate(.5deg); }
  50% { transform: translateX(-50%) rotate(0deg); }
  75% { transform: translateX(-50%) rotate(-.5deg); }
  100% { transform: translateX(-50%) rotate(0deg); }
  
}
@media (max-width:760px) {
  .under-construction{
    font-size: small;
    top: 2vh;
    left: 2vw;
    width: 90vw;
  }
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.wrapper{
  width: 1000px;
  min-height: 98vh;
  background-color: black;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.header {
  width: min(80%,800px);
  height: 4em;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: hsla(0, 0%, 99%, 0.527);
  backdrop-filter: blur(500px);
  border-radius: 30px;
  position: fixed;
}
.header nav{
  width: 50%;
  display: flex;
  justify-content: space-around;
  color: black;
  position: relative;
}
.navigator{
  cursor: pointer;
}
.glass{
  width: 100px;
  height: 3em;
  position: absolute;
  align-self: center;
  border-radius: 5px;
  z-index: -1;
  transition: all .5s ease;
}
.glass[data-page=home]{
  background-color: rgb(123, 164, 214);
  transform: translateX(-155px);
}
.glass[data-page=about]{
  background-color: green;
  transform: translateX(-60%);
}
.glass[data-page=projects]{
  background-color: rgba(86, 64, 209, 0.699);
  transform: translateX(40%);
}
.glass[data-page=contact]{
  background-color: rgb(0, 128, 102);
  transform: translateX(147%);
}
.content{
  width: 100%;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(85, 120, 120);
  padding-top: 50px;
}
.home{
  display: flex;
  justify-content: space-around;
  padding: 60px 0px;
}
.welcome-section,
.profile-section {
  font-size: 1em;
  width: 30%;
}
.greet{
  display: flex;
}
.greet h1{
  margin: 0;
  text-align: right;
}
.welcome-section h3,a{
  margin: 0;
  text-align: center;
  color: inherit;
  transition: all .5s ease;
}
.welcome-section a:hover{
  letter-spacing: 3px;
  color: inherit;
}
.greet h1:last-of-type{
    font-size: 4rem;
    padding: 10px 0;
    animation: shakeHand 1s ease;
    animation-timeline: View;
    animation-delay: .2s;
}
@keyframes shakeHand {
  25%{
    transform: rotate(9deg);
  }
  75%{
    transform: rotate(-9deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.profile-section img{
    width: 300px;
    padding: 20px;
    background-color: aqua;
    border-radius: 50% 30%;
}

.project-card{
  width: 300px;
  margin: 10px;
  color: black;
  background-color: aliceblue;
  border: solid transparent;
  border-radius: 10px;
  display: inline-block;
}
.project-picture{
  overflow: hidden;
}
.project-picture img{
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  border-radius: 10px;
  transition: all .3s ease;
}
.project-picture img:hover{
  transform: scale(1.1);
  filter: brightness(70%);
}
.project-info {
  padding: 5px 20px;
  text-align: left;
}
.project-title{
  margin: 5px 0;
  font-size: x-large;
}
.project-description{
  margin: 0;
  color: hsl(0, 8%, 35%);
  font-size: medium;
}
.project-tools{
  margin: 15px 0;
}
.tool{
  background-color: hsl(0, 10%, 90%,.5);
  padding: 3px 10px;
  border-radius: 10px;
  font-size: small;
  display: inline-block;
  margin: 3px;
}
.project-buttons{
  display: flex;
  gap: 10px;
}
.project-buttons a{
  font-size: 20px;
  color: black;
  border: solid black 1px;
  padding: 5px 20px;
  border-radius: 10px;
  transition: all .3s ease;
  display: flex;
  align-items: center;
  gap: 3px;
}
.project-buttons a:last-of-type{
  background-color: hsl(0, 68%, 5%);
  color: white;
}
.project-buttons a:hover:not(:last-of-type){
  background-color: hsl(0, 10%, 90%,.5);
}

.contact-form{
  background-color: aliceblue;
  padding: 30px 0px;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  color: black;
}
.contact-name-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-name,
.contact-email,
.contact-message{
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 26px;
}

.contact-name input{
  width: 350px;
  height: 30px;
}
.contact-email input{
  height: 30px;
}
.contact-message textarea{
  min-height: 100px;
}
.contact-submit{
  width: 100%;
  margin: 10px 0;
}
.contact-form input,
.contact-form textarea{
  font-size: 20px;
  border-radius: 10px;
  border: solid rgb(132, 132, 132) 1px;
  background-color: transparent;
  color: hsl(0, 8%, 35%);
  padding: 5px;
}