.blog-card{
  width: 100%;
  max-width: 300px;
  margin-left: 25px;
  text-align: left;
  display: inline-block;
  cursor: pointer;
}
.blog-card *{
  margin: 0;
  padding: 0;
}
.blog-image{
  width: 100%;
  height: 170px;
  object-fit: cover;
  background-color: azure;
}
.blog-decription{
  width: 100%;
  font-weight: bold;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog-small{
  font-size: 0.8rem;
  color: gray;
  display: flex;
  gap: 5px;
}